@import '~@angular/material/theming';


@mixin timeline-slider-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .timeline-container {
        .timeline-slider {
            position: relative;

            .slider-line{
                width: 100%;
                min-height: 12px;
                max-height: 12px;
                background-color: mat-color($foreground, divider);

                .slider-completed {
                    min-height: 12px;
                    max-height: 12px;
                    background-color: mat-color($accent, 500);

                    &.focused {
                        min-height: 4px;
                        max-height: 4px;
                    }
                }
            }

            .slider-handle {
                width: 0;
                height: 0;
                border: 6px solid #fff;
                position: relative;
                top: 12px;
            }

            .timeline-markers {
                position: absolute;
                display: inline-flex;
                width: 100%;

                .timeline-marker {
                    position: absolute;
                    transform: translate(0px, 0px);
                    cursor: pointer;

                    .marker-top {
                        min-height: 20px;
                    }

                    .marker-bot {
                        min-height: 20px;
                        transform: translate(0px, 28px);
                    }

                    .marker-mid {
                        min-height: 12px;
                        transform: translate(0px, -12px);
                    }

                    .border-green {
                      border-left: 3px solid rgb(0, 255, 0);
                    }

                    .border-red {
                      border-left: 3px solid rgb(255, 0, 0);
                    }

                    .border-blue {
                      border-left: 3px solid rgb(0, 0, 255);
                    }

                    .border-white {
                      border-left: 3px solid rgb(255, 255, 255);
                    }

                    .marker-text {
                        position: relative;
                        left: -12px;
                        padding: 2px 5px;
                        border: 2px solid mat-color($foreground, divider);
                        border-radius: 999px;
                        color: mat-color($foreground, hint-text);

                        font-family: Montserrat, sans-serif;
                        font-size: 8pt;
                        font-weight: 600;

                        &.passed {
                            border: 2px solid mat-color($accent, 500);
                            background-color: mat-color($accent, 500);
                            color: mat-color($foreground, base);
                        }
                    }
                }
            }
        }
    }
}


